extends layout

block content
  h1= title
  p Welcome to the item shop inventory manager, a basic nodejs fullstack store web app for managing inventories

  p Number of different items: #{item_count}
  p number of different categories: #{category_count}
